<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <app-prediction-models-card-count></app-prediction-models-card-count>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <app-complain-prediction-count></app-complain-prediction-count>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <app-complain-without-evaluation></app-complain-without-evaluation>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <app-prediction-model-hit-percentage></app-prediction-model-hit-percentage>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <app-model-hit-percent-graph></app-model-hit-percent-graph>
          </div>
          <div class="col-md-4">
              <app-last-year-complains></app-last-year-complains>
          </div>
          <div class="col-md-4">
              <app-complain-creation-answer-datediff></app-complain-creation-answer-datediff>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <app-donut-models-winners></app-donut-models-winners>
          </div>
          <div class="col-lg-6 col-md-12">
              <app-complain-prediction-list-dashboard></app-complain-prediction-list-dashboard>
          </div>
      </div>
  </div>
</div>
